<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongzehua.zhifou.dao.ProblemUserMapper">
  
  <!-- 实体映射 -->
  <resultMap id="BaseResultMap" type="com.xiongzehua.zhifou.pojo.ProblemUser">
    <id column="id" property="id" />
    <result column="problem_id" property="problemId" />
    <result column="user_id" property="userId" />
    <result column="like" property="like" />
    <result column="collect" property="collect" />
    <result column="comment" property="comment" />
    <result column="content" property="content" />
    <result column="like_time" property="likeTime" />
    <result column="collect_time" property="collectTime" />
    <result column="comment_time" property="commentTime" />
  </resultMap>
  
  <!-- 表基本列 -->
  <sql id="Base_Column_List">
    id, problem_id, user_id, like, collect, comment, content, like_time, collect_time, comment_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" />
	,
	<include refid="Blob_Column_List" />
	from problem_user
	where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from problem_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.xiongzehua.zhifou.pojo.ProblemUser">
    insert into problem_user (id, problem_id, user_id, like, collect, comment, content, like_time, collect_time, comment_time)
    values (#{id,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{like,jdbcType=INTEGER}, #{collect,jdbcType=INTEGER}, #{comment,jdbcType=INTEGER},
      #{content,jdbcType=VARCHAR}, #{likeTime,jdbcType=TIMESTAMP}, #{collectTime,jdbcType=TIMESTAMP},
      #{comment_time,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.xiongzehua.zhifou.pojo.ProblemUser">
	insert into problem_user
	<trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="id != null">
		id,
	  </if>
	  <if test="problemId != null">
		problem_id,
	  </if>
	  <if test="userId != null">
		user_id,
	  </if>
	  <if test="like != null">
		like,
	  </if>
	  <if test="collect != null">
		collect,
	  </if>
	  <if test="comment != null">
		comment,
	  </if>
	  <if test="content != null">
		content,
	  </if>
	  <if test="likeTime != null">
		like_time,
	  </if>
	  <if test="collectTime != null">
		collect_time,
	  </if>
	  <if test="commentTime != null">
		comment_time,
	  </if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="id != null">
		#{id,jdbcType=INTEGER},
	  </if>
	  <if test="problemId != null">
		#{problemId,jdbcType=INTEGER},
	  </if>
	  <if test="userId != null">
		#{userId,jdbcType=INTEGER},
	  </if>
	  <if test="like != null">
		#{like,jdbcType=INTEGER},
	  </if>
	  <if test="collect != null">
		#{collect,jdbcType=INTEGER},
	  </if>
	  <if test="comment != null">
		#{comment,jdbcType=INTEGER},
	  </if>
	  <if test="content != null">
		#{content,jdbcType=VARCHAR},
	  </if>
	  <if test="likeTime != null">
		#{likeTime,jdbcType=TIMESTAMP},
	  </if>
	  <if test="collectTime != null">
		#{collectTime,jdbcType=TIMESTAMP},
	  </if>
	  <if test="commentTime != null">
		#{commentTime,jdbcType=TIMESTAMP},
	  </if>
	</trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xiongzehua.zhifou.pojo.ProblemUser">
	update problem_user
	<set>
	  <if test="problemId != null">
		problem_id = #{problemId,jdbcType=INTEGER},
	  </if>
	  <if test="userId != null">
		user_id = #{userId,jdbcType=INTEGER},
	  </if>
	  <if test="like != null">
		like = #{like,jdbcType=INTEGER},
	  </if>
	  <if test="collect != null">
		collect = #{collect,jdbcType=INTEGER},
	  </if>
	  <if test="comment != null">
		comment = #{comment,jdbcType=INTEGER},
	  </if>
	  <if test="content != null">
		content = #{content,jdbcType=VARCHAR},
	  </if>
	  <if test="likeTime != null">
		like_time = #{likeTime,jdbcType=TIMESTAMP},
	  </if>
	  <if test="collectTime != null">
		collect_time = #{collectTime,jdbcType=TIMESTAMP},
	  </if>
	  <if test="commentTime != null">
		comment = #{commentTime,jdbcType=TIMESTAMP},
	  </if>
	</set>
	where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.xiongzehua.zhifou.pojo.ProblemUser">
    update problem_user
    id, problem_id, user_id, like, collect, comment, content, like_time, collect_time, comment_time
    set problem_id = #{title,jdbcType=INTEGER},
      user_id = #{content,jdbcType=INTEGER},
      like = #{userId,jdbcType=INTEGER},
      collect = #{createTime,jdbcType=INTEGER},
      comment = #{updateTime,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      like_time = #{userId,jdbcType=TIMESTAMP},
      collect_time = #{createTime,jdbcType=TIMESTAMP},
      comment_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>