<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiongzehua.freetalk.dao.TalkPictureMapper">
    <resultMap id="BaseResultMap" type="com.xiongzehua.freetalk.pojo.TalkPicture">
        <id column="id" property="id"/>
        <result column="talk_id" property="talkId"/>
        <result column="picture_URL" property="pictureURL"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, talk_id, picture_URL
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from talk_picture
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from talk_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyProperty="id" parameterType="com.xiongzehua.freetalk.pojo.User" useGeneratedKeys="true">
    insert into talk_picture (id, talk_id, picture_URL)
    values (#{id,jdbcType=INTEGER}, #{talkId,jdbcType=INTEGER}, #{pictureURL,jdbcType=VARCHAR})
  </insert>

    <update id="updateByPrimaryKey" parameterType="com.xiongzehua.freetalk.pojo.User">
    update talk_picture
    set talk_id = #{talkId,jdbcType=VARCHAR},
      picture_URL = #{pictureURL,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>